.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Keep video behind content */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100vw, 1fr));
    /* Repeat videos in columns*/
}

.video-background {
    width: 100%;
    /* Make video fill entire width */
    height: 100%;
    object-fit: cover;
    /* Ensures video covers the entire background */
    z-index: -1;
    /* Sends the video behind other elements */
}

.imgContainer {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* Wrap to the next row if space runs out */
    gap: 20px;
}

.imgContainer img {
    width: 260px;
    /* Adjust size as needed */
    height: 260px;
    object-fit: cover;
    object-fit: cover;
    /* Maintain aspect ratio */
    border-radius: 0px;
    border: none;
}

.hide {
    display: none;
}

.selectStyle {
    width: 200px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #3498db;
    border-radius: 10em;
    outline: none;
    transition: border 0.3s;
    color: #007bff;
    mix-blend-mode: hard-light;
}