body {
    background-color: #e8e8e8;
}

.imgContainer {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* Wrap to the next row if space runs out */
    gap: 20px;
}

.imgContainer img {
    width: 260px;
    /* Adjust size as needed */
    height: 260px;
    object-fit: cover;
    object-fit: cover;
    /* Maintain aspect ratio */
    border-radius: 0px;
    border: none;
    box-shadow: 0 0 10px #d0d0d0;
}

.hide {
    display: none;
}

/* .selectStyle {
    width: 200px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #3498db;
    border-radius: 10em;
    outline: none;
    transition: border 0.3s;
    color: #007bff;
    mix-blend-mode: hard-light;
} */

.option {
    padding: 6px 12px;
    background-color: #333;
    color: white;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
    text-align: center;
}

.option:hover {
    background-color: #555;
}

.option.active {
    background-color: #e8e8e8;
    color: black;
}