@font-face {
	font-family: 'SpaceMono';
	src: url('SpaceMono-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SpaceMonoBold';
	src: url('SpaceMono-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #e8e8e8;
}

#switchImg {
	background: none;
	border: none;
	display: contents;
}

#imgIndex {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	width: 30px;
	/* Adjust size as needed */
	height: 30px;
	gap: 2px;
	/* Space between squares */
	border: none;
	background: transparent;
	cursor: pointer;
	padding: 8px 18px;
}

#imgIndex div {
	width: 100%;
	height: 100%;
	background: #000000;
	/* Black squares */
	transition: background 0.3s;
}

/* Hover effect */
#imgIndex:hover div {
	background: #6b6b6b;
}

#about {
	text-decoration: none;
	mix-blend-mode: exclusion;
	color: rgb(0, 0, 0);
	background: rgba(255, 255, 255);
	/* Transparent glass effect */
	padding: 5px 20px;
	font-size: 15px;
	cursor: pointer;
	border-radius: 20px;
	transition: all 0.3s ease-in-out;
	font-family: "SpaceMonoBold", monospace, sans-serif;
	letter-spacing: 1px;
}

#about:hover {
	background: #606060;
	color: rgb(255, 255, 255);
}

/* Positioning the container in the top right */
#infoContainer {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	top: 1em;
	right: 1.5em;
	width: auto;
	gap: 0.5em;
	mix-blend-mode: exclusion;
}

/* The button style */
#infoButton {
	color: rgb(0, 0, 0);
	padding: 5px 10px;
	font-size: 14px;
	cursor: pointer;
	border-radius: 5px;
	border: none;
	transition: background 0.3s;
	font-family: SpaceMono, monospace, sans-serif;
}

#infoButton:hover {
	background: #606060;
	color: #f5f5f5;
}

.hidden {
	display: none;
}

.randomText {
	display: inline-block;
	color: rgb(3, 3, 3);
	border-radius: 5px;
	border: none;
	padding: 5px 12px;
	font-size: 14px;
	cursor: pointer;
	font-family: SpaceMono, monospace, sans-serif;
	background-color: #ffffff;
	max-width: 40vw;
}

.randomText:hover {
	background: #606060;
	color: #f5f5f5;
}

#randomType {
	white-space: nowrap;
}

#randomSource {
	white-space: nowrap;
}

#switchText {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgb(255, 255, 255);
	font-size: 18px;
	text-align: center;
	font-family: SpaceMono, monospace, sans-serif;
	opacity: 0;
}

#randomImage {
	z-index: -1;
	height: 96vh;
	/* Full screen height */
	width: auto;
	/* Maintain aspect ratio */
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* Center the image */
	object-fit: contain;
	/* Ensures the whole image fits without cropping */
	cursor: pointer;
	box-shadow: 0px 0px 20px rgba(171, 171, 171, 0.5);
}

#randomImage:hover {
	mix-blend-mode: color;
	box-shadow: 0px 0px 20px rgb(0, 47, 255);
}

#randomImage:hover+#switchText {
	opacity: 1;
}

#inputBox {
	display: flex;
	align-items: center;
	gap: 5px;
	position: fixed;
	top: 1em;
	right: 7em;
	mix-blend-mode: exclusion;
	width: auto;
	height: 16px;
	padding: 9px 10px;
	border-radius: 20px;
	background: transparent;
	font-size: 14px;
	border: 1px solid #ffffff;
	mix-blend-mode: exclusion;
}

#inputBox[hidden] {
	display: none;
}

#userInput {
	width: 16em;
	background: none;
	border: none;
	font-family: SpaceMono, monospace, sans-serif;
	color: #b3b3b3;
}

#textInput:focus {
	border: none;
}

#userInputButton {
	border-radius: 1em;
	border: none;
	cursor: pointer;
}

#userInputButton:hover {
	background: #757575;
	color: #ffffff;
}

#showInputBox {
	display: none;
	background-color: #000000;
}

#botContainer {
	width: 99vw;
	position: fixed;
	bottom: 0;
	display: flex;
	align-items: center;
	/* Align items vertically */
	justify-content: flex-end;
	/* Centers content horizontally */
	gap: 1em;
	/* Ensures a fixed gap between bot and speech bubble */
	padding-top: 0;
	mix-blend-mode: exclusion;
}

.speechBubble {
	text-align: center;
	width: 70vw;
	/* Stretches almost the full width */
	max-width: 100%;
	/* Prevents overflow */
	padding: 20px;
	font-size: 18px;
	position: relative;
	font-family: SpaceMono, monospace, sans-serif;
	/* background-color: rgb(0, 0, 0); */
	border: 2px solid #ffffff;
	color: rgb(255, 255, 255);
	cursor: pointer;
}

/* Triangle for speech bubble tail */
.speechBubble:after {
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #ffffff;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}

#botNarrator {
	display: block;
	transition: filter 0.3s;
	bottom: 1em;
	mix-blend-mode: exclusion;
	background-color: #ffffff;
	filter: brightness(110%);
}

#botNarrator:hover {
	filter: saturate(140%) contrast(110%);
	background-color: #ffffff;
}

#botsMenu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.8);
	color: #ffffff;
	display: none;
	align-items: center;
	justify-content: center;
}

#bots {
	padding: 5px 10px;
	text-align: center;
	font-size: 14px;
	font-family: SpaceMono, monospace, sans-serif;
	border: none;
	border-radius: 10em;
	outline: none;
	transition: border 0.3s;
	background: transparent;
	color: rgb(0, 0, 0);
	border: 1px solid black;
	appearance: none;
	cursor: pointer;
}

#bots:hover {
	color: #ffffff;
	background: rgb(221, 92, 215);
}

select>option {
	background: #000000;
	color: white;
	border-radius: 20px;
}

select:focus>option:checked {
	background: rgb(188, 188, 188);
	color: #000000;
}

#showBotsMenu {
	border: none;
	padding: 0;
	background: transparent;
	cursor: pointer;
	display: inline-block;
}

#closeBotsMenu {
	color: rgb(255, 255, 255);
	background-color: #000000;
	padding: 5px 10px;
	font-size: 14px;
	cursor: pointer;
	border-radius: 5px;
	border: none;
	transition: background 0.3s;
	font-family: SpaceMono, monospace, sans-serif;
}

#closeBotsMenu:hover {
	color: rgb(0, 0, 0);
	background-color: #9e9e9e;
}

@media only screen and (max-width: 500px) {
	#switchImage {
		height: 100vh;
	}

	#randomImage {
		width: 100vw;
		height: auto;
	}

	#randomImage:hover {
		mix-blend-mode: normal;
		box-shadow: none;
	}

	#randomImage:active {
		mix-blend-mode: color;
		box-shadow: 0px 0px 20px rgb(0, 47, 255);
	}

	#switchText {
		top: 45%;
	}

	#randomImage:hover+#switchText {
		opacity: 0;
	}

	#randomImage:active+#switchText {
		opacity: 1;
	}

	#botContainer {
		flex-direction: column;
		transform: translate(-1%);
	}

	#botNarrator {
		width: 10em;
		bottom: 1em;
		mix-blend-mode: exclusion;
	}

	.speechBubble {
		width: 85vw;
		font-size: 16px;
	}

	.speechBubble:after {
		content: "";
		position: fixed;
		left: 50%;
		bottom: 90px;
		top: auto;
		width: 0;
		border: 20px solid transparent;
		border-top-color: #ffffff;
		border-left: 40px;
		margin: 0;
	}

	#about {
		padding: 4px 12px;
		font-family: SpaceMonoBold, monospace, sans-serif;
		font-size: 16px;
		margin-top: 5px;
	}

	#about:active {
		background: #606060;
		color: rgb(255, 255, 255);
	}

	#imgIndex {
		padding: 12px 15px;
		width: 28px;
		height: 28px;
		margin-top: 5px;
	}

	#infoContainer {
		top: 1.5em;
		right: 1.4em;
	}

	#inputBox {
		top: 1.5em;
		right: 6.2em;
	}

	#showInputBox {
		display: block;
		position: fixed;
		right: 6.2em;
		background-color: #000000;
		color: rgb(255, 255, 255);
		padding: 5px 12px;
		font-size: 14px;
		cursor: pointer;
		border-radius: 20px;
		border: 1px solid rgb(255, 255, 255);
		transition: background 0.3s;
		font-family: SpaceMono, monospace, sans-serif;
	}

	#userInput {
		width: 10em;
	}

	#userInputButton {
		height: 1.6em;
		width: 1.6em;
	}
}